.container {
    padding-top: 3rem;
    min-height: 100vh;
}

.contactWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.formSection {
    background: var(--primary-background);
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2rem;
    color: var(--primary-text);
    margin-bottom: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputGroup input,
.inputGroup textarea {
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--neutral-200);
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.inputGroup input:focus,
.inputGroup textarea:focus {
    border-color: var(--neutral-600);
    outline: none;
}

.submitButton {
    background: var(--accent-700);
    color: var(--background-primary);
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submitButton:hover {
    background: var(--accent-800);
}

.infoSection {
    display: flex;
    align-items: center;
}

.infoCard {
    background: var(--secondary-500);
    color: var(--primary-background);
    padding: 1.5rem;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.infoItem {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    font-size: 1.5rem;
    color: var(--accent-700);
}

.socialLinks {
    margin-top: 1.5rem;
}

.socialIcons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.socialIcons a {
    color: var(--accent-700);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.socialIcons a:hover {
    color: var(--accent-800);
}

/* Tablet and up */
@media (min-width: 768px) {
    .container {
        padding-top: 5rem;
    }

    .contactWrapper {
        padding: 2rem;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .formSection {
        padding: 2rem;
    }

    .title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .infoCard {
        padding: 2rem;
        height: 100%;
    }

    .subtitle {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .submitButton {
        font-size: 1.5rem;
    }
}